/*Importamos las fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400&family=Poppins:ital,wght@0,300;1,300&family=Saira+Condensed:wght@100&display=swap');


/*Aquí van los estilos css de la sidebar*/
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #000000;
    --first-color-light: #f3b91a;
    --white-color: #ffffff;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 0 1rem 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    font-family: 'Saira Condensed', sans-serif;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--first-color-light)
}

.nav_logo-name {
    color: var(--first-color-light);
    font-weight: 700;
}


.nav_link {
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--first-color-light)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width))
}

.active {
    color: var(--first-color-light)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--first-color-light)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height)) 0 0 0;
        padding-left: calc(var(--nav-width))
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 156px)
    }
}


/*Aquí van los estilos css del cuerpo del artículo*/

section {
    padding-top: 60px;
}

.cabecera {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    height: 100vh;
    margin-bottom: -30px;
}

#titulo {
    padding-top: 20px;
}

#autor {
    padding-top: 15px;
}

.titular {
    font-size: 10.2vw;
    color: #f3b91a;

    @media screen and (max-width: 767px) {
        font-size: 15.3vw;
        margin-top: 30px;
    }
}

.subtitulo {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;

    @media screen and (max-width: 767px) {
        font-size: 5vw;
        width: 60%;
    }
}

.icono-redes-portada {
    font-size: 150%;
}

.contenedor-texto-reportaje p {
    font-family: 'Poppins', sans-serif;
}

.contenedor-texto-reportaje h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
}

.centrar-separador {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.pie {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-family: 'Saira Condensed', sans-serif;
}

.icono-redes-pie {
    font-size: 130%;
    color: #f3b91a;
}


/* Para la animación de la flecha de la portada */

.icono-portada {
    margin-top: 20px;
    font-size: 200%;
    font-weight: 100;

    animation: blink 2s ease-in infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}


/* Para el efecto de máquina de escribir */

.maquina-escribir p {
    color: black;
    font-family: monospace;
    font-size: 75%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f3b91a;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .8s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #f3b91a
    }
}


/* Para la parte del mapa */

.contenedor-texto-mapas {
    margin-top: 25px;
    margin-bottom: 35px;
}

.contenedor-texto-mapas p {
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 5%;
    font-size: 1.1vw;
    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: 800px) {
        font-size: 3.2vw;

    }
}

.contenedor-texto-mapas img {
    width: 100vw;
    height: auto;

    @media screen and (max-width: 767px) {
        width: 165%;
        margin-left: 47%;
        transform: translateX(-50%);
    }
}